In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [5]:
data = pd.read_csv('C:/Users/admin/Documents/GitHub/DS/module_1/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1120,tt0314353,70000000,85632458,Tears of the Sun,Bruce Willis|Monica Bellucci|Cole Hauser|Eamon...,Antoine Fuqua,He was trained to follow orders. He became a h...,Navy SEAL Lieutenant A.K. Waters and his elite...,121,Action|Drama|War,Columbia Pictures|Revolution Studios|Cheyenne ...,3/7/2003,6.4,2003
1239,tt3063516,15000000,151831537,Jackass Presents: Bad Grandpa,Johnny Knoxville|Jackson Nicoll|Georgina Cates...,Jeff Tremaine,Real people. Real reactions. Real messed up.,86-year-old Irving Zisman is on a journey acro...,92,Comedy,Paramount Pictures|MTV Films|Dickhouse Product...,10/22/2013,6.1,2013
1462,tt0366548,100000000,384335608,Happy Feet,Lombardo Boyar|Robin Williams|Johnny A. Sanche...,George Miller,WARNING: May Cause Toe-Tapping.,"Into the world of the Emperor Penguins, who fi...",108,Music|Animation|Comedy|Family,Village Roadshow Pictures|Kennedy Miller Produ...,11/16/2006,5.8,2006
670,tt0451079,85000000,297138014,Horton Hears a Who!,Jim Carrey|Steve Carell|Carol Burnett|Seth Rog...,Jimmy Hayward|Steve Martino,A persons a person no matter how small!,"One day, Horton the elephant hears a cry from ...",88,Animation|Comedy|Family|Adventure|Fantasy,Twentieth Century Fox Film Corporation|Blue Sk...,3/3/2008,6.2,2008
113,tt3164256,15000000,3020664,Rock the Kasbah,Bill Murray|Zooey Deschanel|Bruce Willis|Kate ...,Barry Levinson,Opportunity rocks where you least expect it.,A washed-up music producer finds one last shot...,100,Comedy|Music|War,Shangri-La Entertainment|QED International|Dun...,10/22/2015,5.1,2015

In [6]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [7]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
data['profit'] = data['revenue'] - data['budget']

# 1. У какого фильма из списка самый большой бюджет?

In [0]:
# номер вопроса и ответ на него
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [9]:
# код для решения данного вопроса:
data.original_title[data.budget == data.budget.max()]

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# номер вопроса и ответ на него
answers['2'] = 'Gods and Generals (tt0279111)'

In [10]:
# код для решения данного вопроса:
data.original_title[data.runtime == data.runtime.max()]

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [0]:
# номер вопроса и ответ на него
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [11]:
# код для решения данного вопроса:
data.original_title[data.runtime == data.runtime.min()]

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [0]:
# номер вопроса и ответ на него
answers['4'] = '110'

In [12]:
# код для решения данного вопроса:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [0]:
# номер вопроса и ответ на него
answers['5'] = '107'

In [13]:
# код для решения данного вопроса:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [0]:
# номер вопроса и ответ на него
answers['6'] = 'Avatar (tt0499549)'

In [14]:
# код для решения данного вопроса:
data.original_title[data.profit == data.profit.max()]

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [0]:
# номер вопроса и ответ на него
answers['7'] = 'The Lone Ranger (tt1210819)'

In [15]:
# код для решения данного вопроса:
data.original_title[data.profit == data.profit.min()]

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [0]:
# номер вопроса и ответ на него
answers['8'] = '1478'

In [16]:
# код для решения данного вопроса:
data.original_title[data.profit > 0].count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [0]:
# номер вопроса и ответ на него
answers['9'] = 'The Dark Knight (tt0468569)'

In [17]:
# код для решения данного вопроса:
data_2008 = data[data.release_year == 2008]
data_2008.original_title[data_2008.revenue == data_2008.revenue.max()]

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [0]:
# номер вопроса и ответ на него
answers['10'] = 'The Lone Ranger (tt1210819)'

In [18]:
# код для решения данного вопроса:
data_2012_2014 = data[(data.release_year <= 2014) & (data.release_year >= 2012)]
data_2012_2014.original_title[data_2012_2014.profit == data_2012_2014.profit.min()]

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
# номер вопроса и ответ на него
answers['11'] = ''

In [ ]:
# код для решения данного вопроса:

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [0]:
# номер вопроса и ответ на него
answers['12'] = ''

In [ ]:
# код для решения данного вопроса:

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [0]:
# номер вопроса и ответ на него
answers['13'] = ''

In [ ]:
# код для решения данного вопроса:

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [0]:
# номер вопроса и ответ на него
answers['14'] = ''

In [ ]:
# код для решения данного вопроса:

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [0]:
# номер вопроса и ответ на него
answers['15'] = ''

In [ ]:
# код для решения данного вопроса:

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [0]:
# номер вопроса и ответ на него
answers['16'] = ''

In [ ]:
# код для решения данного вопроса:

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [0]:
# номер вопроса и ответ на него
answers['17'] = ''

In [ ]:
# код для решения данного вопроса:

# 18. Самый убыточный фильм от Paramount Pictures

In [0]:
# номер вопроса и ответ на него
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

In [32]:
# код для решения данного вопроса:
data_pcompany = data[data.production_companies.str.contains("Paramount Pictures", na=False)]
data_pcompany.original_title[data_pcompany.profit == data_pcompany.profit.min()]

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [0]:
# номер вопроса и ответ на него
answers['19'] = '2015'

In [51]:
# код для решения данного вопроса:
grouped_data = data.groupby('release_year')['profit'].agg('sum')
grouped_data.idxmax()

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [0]:
# номер вопроса и ответ на него
answers['20'] = '2014'

In [50]:
# код для решения данного вопроса:
data_bros = data[data.production_companies.str.contains("Warner Bros", na=False)]
data_bros_grouped = data_bros.groupby('release_year')['profit'].agg('sum')
data_bros_grouped.idxmax()

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [0]:
# номер вопроса и ответ на него
answers['21'] = ''

In [57]:
# код для решения данного вопроса:
#grouped_years = data.groupby('release_date')['release_year'].agg('sum')

grouped_years = data.groupby(['release_date'])['release_year'].sum().sort_values(ascending=False)
print(grouped_years)

release_date
12/25/2014    14098
9/16/2005     10025
10/5/2001     10005
4/16/2014      8056
12/18/2013     8052
              ...
9/15/2000      2000
2/25/2000      2000
8/4/2000       2000
6/21/2000      2000
7/30/2000      2000
Name: release_year, Length: 1435, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [0]:
# номер вопроса и ответ на него
answers['22'] = ''

In [ ]:
# код для решения данного вопроса:

# 23. Для какого режиссера зима – самое продуктивное время года?

In [0]:
# номер вопроса и ответ на него
answers['23'] = ''

In [ ]:
# код для решения данного вопроса:

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [0]:
# номер вопроса и ответ на него
answers['24'] = ''

In [ ]:
# код для решения данного вопроса:

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [0]:
# номер вопроса и ответ на него
answers['25'] = ''

In [ ]:
# код для решения данного вопроса:

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [0]:
# номер вопроса и ответ на него
answers['26'] = ''

In [ ]:
# код для решения данного вопроса:

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [ ]:
# номер вопроса и ответ на него
answers['27'] = ''

In [ ]:
# код для решения данного вопроса:

# Submission

In [19]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{}

In [20]:
# и убедиться что ни чего не пропустил)
len(answers)

0