In [468]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [469]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
761,tt1488555,52000000,75450437,The Change-Up,Olivia Wilde|Ryan Reynolds|Jason Bateman|Lesli...,David Dobkin,Who says men can't change?,Dave is a married man with two kids and a lovi...,112,Comedy,Universal Pictures|Original Film|Relativity Me...,8/5/2011,5.9,2011
617,tt1010048,15000000,377910544,Slumdog Millionaire,Dev Patel|Freida Pinto|Anil Kapoor|Mia Drake I...,Danny Boyle|Loveleen Tandan,What does it take to find a lost love? A. Mone...,Jamal Malik is an impoverished Indian teen who...,120,Drama|Romance,Celador Films|Warner Bros.|Film4,5/12/2008,7.5,2008
542,tt0164334,60000000,105178561,Along Came a Spider,Morgan Freeman|Monica Potter|Michael Wincott|D...,Lee Tamahori,The game is far from over.,When a teacher kidnaps a girl from a prestigio...,104,Crime|Mystery|Thriller|Action,Paramount Pictures|AZL Productions KG|David Br...,4/6/2001,5.8,2001
272,tt0362478,30000000,33333531,The Box,Cameron Diaz|James Marsden|Frank Langella|Mich...,Richard Kelly,All you have to do is push the button.,"Norma and Arthur Lewis, a suburban couple with...",115,Thriller|Science Fiction,Media Rights Capital|Lin Pictures|Warner Bros....,9/17/2009,5.3,2009
611,tt1205489,33000000,269958228,Gran Torino,Clint Eastwood|Christopher Carley|Bee Vang|Ahn...,Clint Eastwood,Ever come across somebody you shouldn't have m...,Walt Kowalski is a widower who holds onto his ...,116,Drama,Village Roadshow Pictures|Malpaso Productions|...,12/9/2008,7.6,2008

In [470]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [471]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
data['profit'] = data['revenue'] - data['budget']

# 1. У какого фильма из списка самый большой бюджет?

In [127]:
# номер вопроса и ответ на него
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [128]:
# код для решения данного вопроса:
data.original_title[data.budget == data.budget.max()]

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [129]:
# номер вопроса и ответ на него
answers['2'] = 'Gods and Generals (tt0279111)'

In [130]:
# код для решения данного вопроса:
data.original_title[data.runtime == data.runtime.max()]

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [131]:
# номер вопроса и ответ на него
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [132]:
# код для решения данного вопроса:
data.original_title[data.runtime == data.runtime.min()]

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [133]:
# номер вопроса и ответ на него
answers['4'] = '110'

In [134]:
# код для решения данного вопроса:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [135]:
# номер вопроса и ответ на него
answers['5'] = '107'

In [136]:
# код для решения данного вопроса:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [137]:
# номер вопроса и ответ на него
answers['6'] = 'Avatar (tt0499549)'

In [138]:
# код для решения данного вопроса:
data.original_title[data.profit == data.profit.max()]

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [139]:
# номер вопроса и ответ на него
answers['7'] = 'The Lone Ranger (tt1210819)'

In [140]:
# код для решения данного вопроса:
data.original_title[data.profit == data.profit.min()]

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [141]:
# номер вопроса и ответ на него
answers['8'] = '1478'

In [142]:
# код для решения данного вопроса:
data.original_title[data.profit > 0].count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [143]:
# номер вопроса и ответ на него
answers['9'] = 'The Dark Knight (tt0468569)'

In [144]:
# код для решения данного вопроса:
data_2008 = data[data.release_year == 2008]
data_2008.original_title[data_2008.revenue == data_2008.revenue.max()]

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [145]:
# номер вопроса и ответ на него
answers['10'] = 'The Lone Ranger (tt1210819)'

In [146]:
# код для решения данного вопроса:
data_2012_2014 = data[(data.release_year <= 2014) & (data.release_year >= 2012)]
data_2012_2014.original_title[data_2012_2014.profit == data_2012_2014.profit.min()]

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [567]:
# номер вопроса и ответ на него
answers['11'] = 'Drama'

In [574]:
# код для решения данного вопроса:
data_genres = data.copy()
data_genres['genres_split'] = data_genres['genres'].str.split('|')
data_genres = data_genres.explode('genres_split')
data_genres = data_genres['genres_split'].value_counts()
data_genres.idxmax()

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [511]:
# номер вопроса и ответ на него
answers['12'] = 'Drama'

In [577]:
# код для решения данного вопроса:
data_genres = data.copy()
data_genres['genres_split'] = data_genres['genres'].str.split('|')
data_genres = data_genres.explode('genres_split')
data_genres = data_genres[data_genres['profit'] > 0].groupby('genres_split')['profit'].count().sort_values(ascending=False)
data_genres.idxmax()

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [372]:
# номер вопроса и ответ на него
answers['13'] = 'Peter Jackson'

In [373]:
# код для решения данного вопроса:
grouped_data = data.groupby('director')['profit'].agg('sum')
grouped_data.idxmax()

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [399]:
# номер вопроса и ответ на него
answers['14'] = 'Robert Rodriguez'

In [637]:
# код для решения данного вопроса:
data_dir = data.copy()
data_dir['director_split'] = data_dir['director'].str.split('|')
data_dir = data_dir.explode('director_split')
data_dir['genres_split'] = data_dir['genres'].str.split('|')
data_dir = data_dir.explode('genres_split')
data_dir = data_dir[data_dir['genres_split'] == 'Action'].director_split.value_counts().sort_values(ascending=False)
data_dir.idxmax()

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [600]:
# номер вопроса и ответ на него
answers['15'] = 'Chris Hemsworth'

In [634]:
# код для решения данного вопроса:
cast_actor = data.copy()
data_2012 = data[data.release_year == 2012]
cast_actor['cast_split'] = data_2012['cast'].str.split('|')
cast_actor = cast_actor.explode('cast_split')
cast_actor = cast_actor.groupby('cast_split')['revenue'].sum().sort_values(ascending=False)
cast_actor.idxmax()

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [384]:
# номер вопроса и ответ на него
answers['16'] = 'Matt Damon'

In [534]:
# код для решения данного вопроса:
data_film = data[data.budget > data.budget.mean()]
cast_actor = data_film['cast'].str.split('|')
cast_actor = cast_actor.explode('cast').value_counts()
cast_actor.idxmax()

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [363]:
# номер вопроса и ответ на него
answers['17'] = 'Action'

In [639]:
# код для решения данного вопроса:
data_NC = data.copy()
data_NC['genres_split'] = data_NC['genres'].str.split('|')
data_NC = data_NC.explode('genres_split')
data_NC['cast_split'] = data_NC['cast'].str.split('|')
data_NC = data_NC.explode('cast_split')
data_NC = data_NC[data_NC['cast_split'] == 'Nicolas Cage'].genres_split.value_counts().sort_values(ascending=False)
data_NC.idxmax()

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [270]:
# номер вопроса и ответ на него
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

In [271]:
# код для решения данного вопроса:
data_pcompany = data[data.production_companies.str.contains("Paramount Pictures", na=False)]
data_pcompany.original_title[data_pcompany.profit == data_pcompany.profit.min()]

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [266]:
# номер вопроса и ответ на него
answers['19'] = '2015'

In [267]:
# код для решения данного вопроса:
grouped_data = data.groupby('release_year')['profit'].agg('sum')
grouped_data.idxmax()

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [268]:
# номер вопроса и ответ на него
answers['20'] = '2014'

In [269]:
# код для решения данного вопроса:
data_bros = data[data.production_companies.str.contains("Warner Bros", na=False)]
data_bros_grouped = data_bros.groupby('release_year')['profit'].agg('sum')
data_bros_grouped.idxmax()

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [0]:
# номер вопроса и ответ на него
answers['21'] = 'Сентябрь'

In [420]:
# код для решения данного вопроса
data_month = data.copy()
data_month['release_date'] = data_month['release_date'].str.split('/')
data_month['month'] = data_month['release_date'].apply(lambda x: x[0])
data_month = data_month.month.value_counts()
data_month.idxmax()

'9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [0]:
# номер вопроса и ответ на него
answers['22'] = '450'

In [449]:
# код для решения данного вопроса:
data_summer_release = data.copy()
data_summer_release['release_date'] = data_summer_release['release_date'].str.split('/')
data_summer_release['month'] = data_summer_release['release_date'].apply(lambda x: x[0])
data_summer_release = data_summer_release[data_summer_release.month.isin(['6', '7', '8',])]
data_summer_release.month.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [0]:
# номер вопроса и ответ на него
answers['23'] = 'Clint Eastwood'

In [655]:
# код для решения данного вопроса:
winter_dir = data.copy()
winter_dir['director_split'] = winter_dir['director'].str.split('|')
winter_dir = winter_dir.explode('director_split')
winter_dir['month'] = winter_dir['release_date'].apply(lambda x: x[0])
winter_dir = winter_dir[winter_dir.month.isin(['1','2','12'])]
winter_dir = winter_dir.groupby('director_split')['imdb_id'].count().sort_values(ascending=False)
winter_dir.idxmax()

'Clint Eastwood'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [0]:
# номер вопроса и ответ на него
answers['24'] = 'Four By Two Productions'

In [523]:
# код для решения данного вопроса:
data_pcompany = data.copy()
data_pcompany['production_companies'] = data_pcompany['genres'].str.split('|')
data_pcompany = data.explode('production_companies')
data_pcompany['title_length'] = data_pcompany['original_title'].apply(lambda x: len(x))
data_pcompany = data_pcompany[data_pcompany.title_length == data_pcompany.title_length.max()]
data_pcompany.production_companies.max()

'Twentieth Century Fox Film Corporation|Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [0]:
# номер вопроса и ответ на него
answers['25'] = 'Midnight Picture Show'

In [538]:
# код для решения данного вопроса:
data_overview = data.copy()
data_overview['overview_length'] = data_overview.overview.map(lambda x: len(x.split(' ')))
data_overview['production_companies'] = data_overview['production_companies'].str.split('|')
data_overview = data_overview.explode('production_companies')
data_overview = data_overview.groupby('production_companies')['overview_length'].mean().sort_values(ascending=False)
data_overview.idxmax()

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [0]:
# номер вопроса и ответ на него
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [524]:
# код для решения данного вопроса:
data.original_title[data.vote_average.quantile(0.99) < data.vote_average]

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [525]:
# номер вопроса и ответ на него
answers['27'] = 'Daniel Radcliffe & Rupert Grint '

# Submission

In [640]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'11': 'Drama',
 '12': 'Action',
 '27': 'Daniel Radcliffe & Rupert Grint ',
 '15': 'Chris Hemsworth'}

In [641]:
# и убедиться что ни чего не пропустил)
len(answers)

4