In [344]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [345]:
data = pd.read_csv('C:/Users/admin/Documents/GitHub/DS/module_1/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1697,tt0478311,30000000,219076518,Knocked Up,Seth Rogen|Katherine Heigl|Leslie Mann|Paul Ru...,Judd Apatow,Save the due date.,"For fun loving party animal Ben Stone, the las...",129,Comedy|Romance|Drama,Universal Pictures|Apatow Productions,6/1/2007,6.0,2007
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015
1311,tt1966566,30000000,68129518,Ð¡Ñ‚Ð°Ð»Ð¸Ð½Ð³Ñ€Ð°Ð´,Thomas Kretschmann|Yanina Studilina|Philippe R...,Fyodor Bondarchuk,The Epic Battle That Turned The Tide Of World ...,"Drama set in 1942, during one of the most impo...",131,War|Action,Art Pictures Studio,10/9/2013,5.5,2013
350,tt1078588,30000000,95714875,My Sister's Keeper,Cameron Diaz|Alec Baldwin|Abigail Breslin|Joan...,Nick Cassavetes,Based on the Best Selling Novel,Sara and Brian live an idyllic life with their...,109,Drama,Mark Johnson Productions|Gran Via Productions|...,6/26/2009,7.0,2009

In [346]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [347]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
data['profit'] = data['revenue'] - data['budget']
#data['months'] = data['release_date'].split('\')[0]

# 1. У какого фильма из списка самый большой бюджет?

In [127]:
# номер вопроса и ответ на него
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [128]:
# код для решения данного вопроса:
data.original_title[data.budget == data.budget.max()]

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [129]:
# номер вопроса и ответ на него
answers['2'] = 'Gods and Generals (tt0279111)'

In [130]:
# код для решения данного вопроса:
data.original_title[data.runtime == data.runtime.max()]

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [131]:
# номер вопроса и ответ на него
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [132]:
# код для решения данного вопроса:
data.original_title[data.runtime == data.runtime.min()]

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [133]:
# номер вопроса и ответ на него
answers['4'] = '110'

In [134]:
# код для решения данного вопроса:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [135]:
# номер вопроса и ответ на него
answers['5'] = '107'

In [136]:
# код для решения данного вопроса:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [137]:
# номер вопроса и ответ на него
answers['6'] = 'Avatar (tt0499549)'

In [138]:
# код для решения данного вопроса:
data.original_title[data.profit == data.profit.max()]

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [139]:
# номер вопроса и ответ на него
answers['7'] = 'The Lone Ranger (tt1210819)'

In [140]:
# код для решения данного вопроса:
data.original_title[data.profit == data.profit.min()]

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [141]:
# номер вопроса и ответ на него
answers['8'] = '1478'

In [142]:
# код для решения данного вопроса:
data.original_title[data.profit > 0].count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [143]:
# номер вопроса и ответ на него
answers['9'] = 'The Dark Knight (tt0468569)'

In [144]:
# код для решения данного вопроса:
data_2008 = data[data.release_year == 2008]
data_2008.original_title[data_2008.revenue == data_2008.revenue.max()]

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [145]:
# номер вопроса и ответ на него
answers['10'] = 'The Lone Ranger (tt1210819)'

In [146]:
# код для решения данного вопроса:
data_2012_2014 = data[(data.release_year <= 2014) & (data.release_year >= 2012)]
data_2012_2014.original_title[data_2012_2014.profit == data_2012_2014.profit.min()]

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [348]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
# номер вопроса и ответ на него
answers['11'] = 'Action'

In [349]:
# код для решения данного вопроса:
def separation(x):
    a = str(x)
    b = a.split('|')
    return b

data_genres = data['genres'].apply(separation)
data_genres = data_genres.explode(True).value_counts()
data_genres.idxmax()

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [350]:
# номер вопроса и ответ на него
answers['12'] = 'Action'

In [354]:
# код для решения данного вопроса:
data_genres = data.copy()
data_genres['genres'] = data_genres['genres'].str.split('|')
data_genres = data_genres.explode('genres')
data_genres = data_genres[data_genres['profit'] > 0].groupby(by='genres')['profit'].count().sort_values(ascending=False)
data_genres.idxmax()

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [355]:
# номер вопроса и ответ на него
answers['13'] = 'Peter Jackson'

In [356]:
# код для решения данного вопроса:
grouped_data = data.groupby('director')['profit'].agg('sum')
grouped_data.idxmax()

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [357]:
# номер вопроса и ответ на него
answers['14'] = 'Ridley Scott'

In [361]:
# код для решения данного вопроса:
data_dir = data.copy()
data_dir['director'] = data_dir['director'].str.split('|')
data_dir = data_dir.explode('director')
data_dir['genres'] = data_dir['genres'].str.split('|')
data_dir = data_dir.explode('genres')
data_dir = data_dir[data_dir['genres'] == 'Action'].director.value_counts().sort_values(ascending=False)
data_dir.idxmax()

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [0]:
# номер вопроса и ответ на него
answers['15'] = ''

In [296]:
# код для решения данного вопроса:

0

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [309]:
# номер вопроса и ответ на него
answers['16'] = 'Matt Damon'

In [362]:
# код для решения данного вопроса:
def separation(x):
    a = str(x)
    b = a.split('|')
    return b

data = data[data.budget > data.budget.mean()]
cast_actor = data['cast'].apply(separation)
cast_actor = cast_actor.explode(True).value_counts()
cast_actor.idxmax()

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [363]:
# номер вопроса и ответ на него
answers['17'] = 'Action'

In [365]:
# код для решения данного вопроса:
data_NC = data.copy()
data_NC['genres'] = data_NC['genres'].str.split('|')
data_NC = data_NC.explode('genres')
data_NC['cast'] = data_NC['cast'].str.split('|')
data_NC = data_NC.explode('cast')
data_NC = data_NC[data_NC['cast'] == 'Nicolas Cage'].genres.value_counts().sort_values(ascending=False)
data_NC.idxmax()

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [270]:
# номер вопроса и ответ на него
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

In [271]:
# код для решения данного вопроса:
data_pcompany = data[data.production_companies.str.contains("Paramount Pictures", na=False)]
data_pcompany.original_title[data_pcompany.profit == data_pcompany.profit.min()]

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [266]:
# номер вопроса и ответ на него
answers['19'] = '2015'

In [267]:
# код для решения данного вопроса:
grouped_data = data.groupby('release_year')['profit'].agg('sum')
grouped_data.idxmax()

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [268]:
# номер вопроса и ответ на него
answers['20'] = '2014'

In [269]:
# код для решения данного вопроса:
data_bros = data[data.production_companies.str.contains("Warner Bros", na=False)]
data_bros_grouped = data_bros.groupby('release_year')['profit'].agg('sum')
data_bros_grouped.idxmax()

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [0]:
# номер вопроса и ответ на него
answers['21'] = ''

In [3]:
# код для решения данного вопроса

grouped_years = data.groupby(['months']).count()
print(grouped_years)

NameError: name 'data' is not defined

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [0]:
# номер вопроса и ответ на него
answers['22'] = ''

In [ ]:
# код для решения данного вопроса:

# 23. Для какого режиссера зима – самое продуктивное время года?

In [0]:
# номер вопроса и ответ на него
answers['23'] = ''

In [ ]:
# код для решения данного вопроса:

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [0]:
# номер вопроса и ответ на него
answers['24'] = ''

In [ ]:
# код для решения данного вопроса:

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [0]:
# номер вопроса и ответ на него
answers['25'] = ''

In [ ]:
# код для решения данного вопроса:

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [0]:
# номер вопроса и ответ на него
answers['26'] = ''

In [ ]:
# код для решения данного вопроса:

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [ ]:
# номер вопроса и ответ на него
answers['27'] = ''

In [ ]:
# код для решения данного вопроса:

# Submission

In [19]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{}

In [20]:
# и убедиться что ни чего не пропустил)
len(answers)

0